<!DOCTYPE html>
<html lang="en">

<head>
    <title>GURU Able - Free Lite Admin Template </title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <!-- Meta -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="description" content="CodedThemes">
      <meta name="keywords" content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
      <meta name="author" content="CodedThemes">
      <!-- Favicon icon -->
      <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
      <!-- Google font-->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
      <!-- Required Fremwork -->
      <link rel="stylesheet" type="text/css" href="assets/css/bootstrap/css/bootstrap.min.css">
      <!-- themify-icons line icon -->
      <link rel="stylesheet" type="text/css" href="assets/icon/themify-icons/themify-icons.css">
      <!-- ico font -->
      <link rel="stylesheet" type="text/css" href="assets/icon/icofont/css/icofont.css">
      <!-- Style.css -->
      <link rel="stylesheet" type="text/css" href="assets/css/style.css">
      <link rel="stylesheet" type="text/css" href="assets/css/jquery.mCustomScrollbar.css">
  </head>

  <body>
    
    <div class="container">
        <header class="row text-center"></header>
        <section class="row">
          <div class="col mt-4">
          <div class="card">
            <div class="card-header">
              <h3>Add product</h3>
            </div>
            <div class="card-body"> 
              <div class="row">
                <div class="col-7">
                  <div class="form-group">
                    <label for="productId">Product Id</label>
                    <input type="text" class="form-control" name="productId" id="productId" aria-describedby="productIdHid" placeholder="Product Id">
                    <small id="productIdHid" class="form-text text-muted">Product Id is required</small>
                  </div>
                  <div class="form-group">
                    <label for="name">Name product</label>
                    <input type="text" class="form-control" name="name" id="name" aria-describedby="nameHid" placeholder="Name product">
                    <small id="nameHid" class="form-text text-muted">Name product is required</small>
                  </div>
                  <div class="form-group">
                    <label for="title">title product</label>
                    <input type="text" class="form-control" title="title" id="title" aria-describedby="titleHid" placeholder="title product">
                    <small id="titleHid" class="form-text text-muted">title product is required</small>
                  </div>
                  <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input type="text" class="form-control" name="q" id="q" aria-describedby="quatityHid" placeholder="Quantity">
                    <small id="quatityHid" class="form-text text-muted">Quantity is required</small>
                  </div>
   

                  <div class="form-group">
                    <label for="categoryId">Category</label>
                    <select class="form-control" name="categoryId" id="categoryId">
                      <option>C01</option>
                      <option>C02</option>
                      <option>C03</option>
                    </select>
                  </div>
                
                </div>
                <div class="col-5">
                  <!-- <img src="assets/images/image-available.jpg" width="90%"class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt=""> -->
                  <div class="form-group">
                    <label for="productImage">Image product</label>
                    <input type="file"
                      class="form-control" name="productImage" id="productImage" aria-describedby="imageHidd" placeholder="Image product">
                    <small id="imageHidd" class="form-text text-muted">Image is required</small>
                  </div>
                  <div class="input-group form-group">
                    <span class="input-group-text">Price</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                        <span class="input-group-text">VND</span>
                  </div>
                  <div class="form-group">
                    <label for="status">Status</label>
                    <select class="form-control" name="status" id="status">
                      <option>Out of stock</option>
                      <option>On sale</option>
                      <option>Freatured</option>
                      <option>BestSeller</option>
                      <option>Out of Order</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="brand">Brand</label>
                    <select class="form-control" name="brand" id="brand">
                      <option>Out of stock</option>
                      <option>On sale</option>
                      <option>Freatured</option>
                      <option>BestSeller</option>
                      <option>Out of Order</option>
                    </select>
                  </div>
                </div>
              </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea class="form-control" name="description" id="description" rows="5"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="information">information</label>
                    <textarea class="form-control" name="information" id="information" rows="5"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="material">material</label>
                    <textarea class="form-control" name="material" id="material" rows="5"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer text-muted">
              <button class="btn btn-success">New</button>
              <button class="btn btn-primary">Save</button>
              <button class="btn btn-danger float-right">Delete</button>
            </div>
          </div>
          </div>
        </section>
        <footer class="row">
          
        </footer>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

</html>